bot {
color: #00463B;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 300;
Font-size: 16px;
}

h0 {
color: red;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 300;
Font-size: 14px;
}

h1 {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 300;
Font-size: 16px;
}

u {
color: yellow;
}

description {
color: yellow;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 14px;
text-align: center;

}
/* Style buttons */
.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 16px 17px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
